<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bayramenu.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:label="Bayramenu"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".TrackingActivity" />
        <activity android:name=".OrderHistoryActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".CartActivity" />
    </application>
</manifest>
